.sidebar {
    -fx-background-color: #17341a;
    -fx-pref-width: 220px;
}

.dashboard {
    -fx-background-color: #d9c7ad;
}

.dashboard-hbox:hover {
    -fx-background-color: #225247;
}

.clock-in-button {
    -fx-background-color: #17341a;
    -fx-text-fill: #d9c7ad;
    -fx-font-size: 30px;
    -fx-max-width: 200px;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.clock-out-button {
    -fx-background-color: #482020;
    -fx-text-fill: #d9c7ad;
    -fx-font-size: 30px;
    -fx-max-width: 200px;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.nav-label {
    -fx-text-fill: #d9c7ad;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10 15 10 15;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-transition: background-color 0.3s ease;
}

.welcome-label {
    -fx-text-fill: #17341a;
    -fx-font-size: 75px;
    -fx-font-weight: bold;
    -fx-font-style: oblique;
    -fx-padding: 20 15 10 15;
}