/** calStyles.css **/

.cal-grid {
    -fx-background-color: -fx-base-color;
    -fx-text-fill: -fx-base-color;
}

.date-header {
    -fx-background-color: -fx-light-color;
    -fx-text-fill: -fx-base-color;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.day-label {
    -fx-alignment: TOP_LEFT;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.calendar-cell {
    -fx-background-color: -fx-light-color;
    -fx-alignment: TOP_LEFT;
    -fx-padding: 5px;
    -fx-min-height: 125px;
}

.calendar-cell:hover {
    -fx-background-color: -fx-color-shadow;
}

.month-button {
    -fx-background-color: -fx-light-color;
    -fx-text-fill: -fx-base-color;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.month-button:hover {
    -fx-background-color: -fx-base-color;
    -fx-text-fill: -fx-light-color;
}

.week-header {
    -fx-background-color: -fx-light-color;
    -fx-text-fill: -fx-base-color;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}