/** colors.css **/

.colors {
    -fx-base-color: #17341a;
    -fx-accent-color: #531818;
    -fx-light-color: #d9c7ad;
    -fx-color-select: #225247;
    -fx-color-selecta: #732b33;
    -fx-color-prompt: #3c503fb0;
    -fx-color-shadow: #c1af94;
    -fx-color-pos1: #17341a;
    -fx-color-pos2: #543f27;
    -fx-color-pos3: #7b3919;
    -fx-color-pos4: #1d304a;;
    -fx-color-select-pos2: #6c553b;
    -fx-color-select-pos3: #8b4b2a;
    -fx-color-select-pos4: #415773;
    -fx-color-today: #b7c297;
    -fx-color-lighta: #d9c4adf8;
}
