/** loginStyles.css **/

.field {
    -fx-highlight-fill: -fx-color-select-pos4;
    -fx-highlight-text-fill: -fx-light-color;
    -fx-background-color: -fx-light-color;
    -fx-border-color: -fx-base-color;
    -fx-text-fill: -fx-base-color;
    -fx-prompt-text-fill: -fx-color-prompt;
    -fx-font-size: 18px;
    -fx-spacing: 0 5 0 5;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-min-height: 30px;
}

.field-prompt {
    -fx-text-fill: -fx-base-color;
    -fx-font-size:  18px;
    -fx-font-weight: bold;
    -fx-padding: 5 0 0 0;
}

.login-button {
    -fx-background-color: -fx-base-color;
    -fx-text-fill: -fx-light-color;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
    -fx-max-width: Infinity;
    -fx-min-height: 45px;
    -fx-alignment: CENTER;
}

.login-button:hover {
    -fx-background-color: -fx-color-select;
}

.options {
    -fx-background-color: -fx-color-shadow;
    -fx-spacing: 10px;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-pref-width: 300px;
}

.option-label {
    -fx-text-fill: -fx-base-color;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 20 0;
    -fx-wrap-text: true;
}

.return-button {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-base-color;
    -fx-font-size:  18px;
    -fx-font-weight: bold;
    -fx-padding: 5 0 0 0;
    -fx-cursor: hand;
}

.tagline {
    -fx-text-fill: -fx-base-color;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-font-style: oblique;
}
