/** memberStyles.css **/

.choice-box {
    -fx-background-color: -fx-light-color;
    -fx-border-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-padding: 2 2 2 4;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-max-width: Infinity;
}

.choice-box.type > .label {
    -fx-text-fill: -fx-color-shadow;
    -fx-alignment: CENTER;
}

.choice-box .context-menu {
    -fx-background-color: -fx-color-shadow;
    -fx-text-fill: -fx-base-color;
    -fx-border-color: -fx-base-color;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
    -fx-max-width: Infinity;
}

.choice-box .menu-item:focused {
    -fx-background-color: -fx-base-color;
    -fx-text-fill: -fx-color-shadow;
    -fx-border-color: -fx-base-color;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
}

.choice-box .menu-item:focused > .check-menu-item > .check,
.choice-box .menu-item:hover > .check-menu-item > .check {
    -fx-background-color: -fx-color-shadow; /* your shadow color */
    -fx-border-color: -fx-color-shadow;     /* if border exists */
}

.choice-box .menu-item:focused > .label,
.choice-box .menu-item:hover > .label {
    -fx-text-fill: -fx-color-shadow;
}
.choice-box .menu-item > .check-menu-item > .check {
    -fx-background-color: -fx-color-shadow;
}

.choice-box.type > .open-button > .arrow {
    -fx-background-color: -fx-color-shadow;
    -fx-border-color: -fx-color-shadow;
}

.user-header {
    -fx-background-color: -fx-base-color;
    -fx-text-fill: -fx-light-color;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-min-height: 60px;
    -fx-max-height: 60px;
}

.user-header-edit {
    -fx-background-color: -fx-light-color;
    -fx-text-fill: -fx-base-color;
    -fx-prompt-text-fill: -fx-color-prompt;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
    -fx-spacing: 10px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}

.user-info {
    -fx-text-fill: -fx-base-color;
    -fx-font-size: 16px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}

.user-info-edit {
    -fx-background-color: -fx-light-color;
    -fx-text-fill: -fx-base-color;
    -fx-border-color: -fx-base-color;
    -fx-prompt-text-fill: -fx-color-prompt;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
    -fx-spacing: 10px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}

.user-prompt {
    -fx-text-fill: -fx-base-color;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-min-width: 250px;
}
