/** memberStyles.css **/

.choice-box {
    -fx-background-color: -fx-light-color;
    -fx-border-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-padding: 2 2 2 4;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-max-width: Infinity;
}

.choice-box.type > .label {
    -fx-text-fill: -fx-color-shadow;
    -fx-alignment: CENTER;
}

.choice-box .context-menu {
    -fx-background-color: -fx-color-shadow;
    -fx-text-fill: -fx-base-color;
    -fx-border-color: -fx-base-color;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
    -fx-max-width: Infinity;
}

.choice-box .menu-item:focused {
    -fx-background-color: -fx-base-color;
    -fx-text-fill: -fx-color-shadow;
    -fx-border-color: -fx-base-color;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
}

.choice-box .menu-item:focused > .check-menu-item > .check,
.choice-box .menu-item:hover > .check-menu-item > .check {
    -fx-background-color: -fx-color-shadow; /* your shadow color */
    -fx-border-color: -fx-color-shadow;     /* if border exists */
}

.choice-box .menu-item:focused > .label,
.choice-box .menu-item:hover > .label {
    -fx-text-fill: -fx-color-shadow;
}
.choice-box .menu-item > .check-menu-item > .check {
    -fx-background-color: -fx-color-shadow;
}

.choice-box.type > .open-button > .arrow {
    -fx-background-color: -fx-color-shadow;
    -fx-border-color: -fx-color-shadow;
}

.date-picker {
    -fx-background-color: -fx-light-color;
    -fx-border-color: -fx-base-color;
    -fx-text-fill: -fx-base-color;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-max-width: Infinity;
}

.date-picker .text-field {
    -fx-background-color: transparent;
}

.date-picker > .arrow-button {
    -fx-background-color: -fx-base-color;
    -fx-border-color: -fx-base-color;
    -fx-background-position: center center;
    -fx-font-size: 25px;
    -fx-padding: 0 10 0 11;
    -fx-border-width: 1px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-max-width: 30px;
}

.date-picker > .arrow-button:hover{
    -fx-background-color: -fx-color-select;
}

.date-picker .button {
    -fx-background-color: transparent;
}

.date-picker > .arrow-button > .arrow {
    -fx-background-color: -fx-light-color;
}

.date-picker .cell {
	-fx-background-color: -fx-color-shadow;
    -fx-text-fill: -fx-base-color;
    -fx-padding: 5px;
}

.date-picker .cell:hover {
	-fx-background-color: -fx-light-color;
}

.date-picker .cell:focused {
	-fx-background-color: -fx-base-color;
    -fx-text-fill: -fx-color-shadow;
}

.date-picker-popup  {
    -fx-background-color: transparent;
	-fx-border-color: transparent;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: -fx-color-shadow;
    -fx-border-color: -fx-base-color;
    -fx-padding: 8 15 15 15;
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 0 0 10 10;
}

.date-picker-popup .day-name-cell {
    -fx-background-color: -fx-color-shadow;
}

.date-picker-popup .day-cell {
    -fx-border-color: -fx-base-color;
}

.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-base-color;
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
}

.date-picker-popup .month-year-pane .label {
	-fx-text-fill: -fx-light-color;
}

.user-header {
    -fx-background-color: -fx-base-color;
    -fx-text-fill: -fx-light-color;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-min-height: 60px;
    -fx-max-height: 60px;
}

.user-header-edit {
    -fx-background-color: -fx-light-color;
    -fx-text-fill: -fx-base-color;
    -fx-prompt-text-fill: -fx-color-prompt;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
    -fx-spacing: 10px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}

.user-info {
    -fx-text-fill: -fx-base-color;
    -fx-font-size: 16px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}

.user-info-edit {
    -fx-highlight-fill: -fx-color-select-pos4;
    -fx-highlight-text-fill: -fx-light-color;
    -fx-background-color: -fx-light-color;
    -fx-border-color: -fx-base-color;
    -fx-text-fill: -fx-base-color;
    -fx-prompt-text-fill: -fx-color-prompt;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
    -fx-spacing: 10px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}

.user-info-invalid {
    -fx-highlight-fill: -fx-color-selecta;
    -fx-highlight-text-fill: -fx-light-color;
    -fx-background-color: -fx-color-lighta;
    -fx-border-color: -fx-accent-color;
    -fx-text-fill: -fx-accent-color;
    -fx-prompt-text-fill: -fx-color-prompt;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
    -fx-spacing: 10px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}

.user-prompt {
    -fx-text-fill: -fx-base-color;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-min-width: 250px;
}
